@import url('https://fonts.googleapis.com/css2?family=Coral+Pixels&family=Jacquard+12&family=Jacquarda+Bastarda+9&family=Pixelify+Sans:wght@400..700&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    /* Låt sidan scrolla normalt på mobil INNAN spelet startar */
    html, body {
      width: 100%;
      min-height: 100%;
      overscroll-behavior-x: none; /* Förhindra horisontell "bounce" */
    }
    
    body {
      margin: 0;
      padding: 0;
      overflow-x: hidden; /* Bara förhindra horisontell scroll */
    }
    
h1 {
    color: red;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    
}

h3 {
    color:red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin-top: -1px;
   font-weight: 200;
}


@media (max-width: 900px) {
    h1 {
        font-size: 1rem;
    }
}
